.footer-container {
    padding: 20px 0;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    background-color: #151515;
    color: whitesmoke;
    box-sizing: border-box;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  
  .footer-text {
    flex: 1; 
    text-align: center; 
  }
  
  .social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .social-icons a:hover {
    color: orange;
  }
  