.home-container {
  display: flex;
  flex-direction: column;
  color: #777;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  box-sizing: border-box;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container { 
   box-sizing: border-box;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #404040;
  padding: 20px;
 

}

.name {
  font-size: 36px; /* Adjust the font size for better aesthetics */
  margin-bottom: 10px; /* Add margin for separation */
  text-align: center;
  color: #fff;
}

.text {
  font-size: 18px; /* Adjust the font size for better readability */
  margin-bottom: 20px; /* Add margin for separation */
  text-align: center;
  background: #ffffff;
  padding: 5px;
  border-radius: 5px;
}

.underline {
  height: 2px;
  background: linear-gradient(to right, #e9d5e9, #4B0082);
  width: 100%;
  margin-bottom: 20px;
}

.paragraph{
  width: 50%;
  color: white;
}



.logo-links a {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
  text-decoration: none; /* Remove default underline */
}

.logo-links a:hover {
  color: purple;
}

.button-container {
  margin-top:10px;
  display: flex;
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #800080;
  color: white;
  border: none;
  border-radius: 5px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #600060;
}

.button-container button span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* Media query for smaller screens */
/* @media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column;
    align-items: center;
  }

  .name {
    font-size: 24px; 
  }

  .text {
    font-size: 14px; 
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    box-shadow: 0 0px 20px #bbbbbb;
    z-index: 1;
  }
  
  .menu.show {
    display: flex;
  }
  
  .menu a {
    color: #404040;
    text-decoration: none;
    margin: 10px 0;
    font-size: 18px;
  }
} */
