.home-container {
  display: flex;
  flex-direction: column;
  color: #777;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
  z-index: -1;
}



.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #151515;
  background-image: url('/public/homepage.png');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #404040;
  padding: 20px;
  z-index: 1;

}

.name {
  font-size: 36px;
  /* Adjust the font size for better aesthetics */
  margin-bottom: 10px;
  /* Add margin for separation */
  text-align: center;
  color: #fff;
  z-index: 1;
}

.text {
  font-size: 18px;
  /* Adjust the font size for better readability */
  margin-bottom: 20px;
  /* Add margin for separation */
  text-align: center;
  background: #ffffff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
}



.paragraph {
  width: 50%;
  color: white;
  z-index: 1;
}



.logo-links a {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
  text-decoration: none;
  /* Remove default underline */
}

.logo-links a:hover {
  color: purple;
}

.button-container {
  margin-top: 10px;
  display: flex;
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #800080;
  color: white;
  border: none;
  border-radius: 5px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #600060;
}

.button-container button span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* Media query for smaller screens */
/* @media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column;
    align-items: center;
  }

  .name {
    font-size: 24px; 
  }

  .text {
    font-size: 14px; 
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    box-shadow: 0 0px 20px #bbbbbb;
    z-index: 1;
  }
  
  .menu.show {
    display: flex;
  }
  
  .menu a {
    color: #404040;
    text-decoration: none;
    margin: 10px 0;
    font-size: 18px;
  }
} */