/* Navbar.css */
.navbar {
  background-color: #000000;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  border: b;
}

.navbar_links {
  display: flex;
}

.navbar_links a {
  color: white;
  text-decoration: none;
  margin: 0 15px; /* Yazılar arasındaki boşluk */
  position: relative;
}

.navbar_links a:after {
  content: "";
  display: block;
  margin-top: 2px;
  height: 2px;
  background: linear-gradient(to right, #e9d5e9, #4B0082); /* Mor renklerinde linear gradient geçiş */
  width: 0;
  transition: width 0.3s;
}

.navbar_links a:hover:after {
  width: 100%;
}

.navbar_links a:hover {
  text-decoration: none;
  color: #e9d5e9; /* Hover durumunda renk değiştirme */
}
