/* styles/Projects.css */
.projects-page {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  overflow: auto;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.title{
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to left, #000000,#4B0082,#4B0082, #000000); 
  text-align: center;
  padding: 15px;
}

.project-card {
  position: relative;
  width: 25vw;
  height: 25vh;
  margin: 20px;
  padding: 15px;
  border: 1px solid #4B0082;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Remove background-image transition */
  cursor: pointer;
  box-shadow: 0 16px 20px #4B0082;

  padding: auto;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(8px);
  transition: opacity 0.3s ease;
  opacity: 0;
  transform: scale(1.1);
}

.project-card:hover {
  z-index: 1;
  box-shadow: 0 24px 30px #4B0082;
  background-color: #000000;
  transform: scale(1.1);
  background-image: url('../assets/project.svg'); /* Set the normal background image */
  background-size: contain; /* Ensure the background image covers the entire element */
  background-position: center; /* Center the background image */
}

.project-card:hover::before {
  opacity: 1;
  
}

.card-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card:hover .overlay {
  opacity: 1;
}

.overlay button {
  padding: 10px 20px;
  background-color: #800080;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.overlay button:hover {
  background-color: #d317d3;
}

.overlay button span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
/* Media Query for Small Screens */
@media screen and (max-width: 600px) {
  .project-card {
    width: 80vw;
  }
}
